.card{
    background-color:#282c34;
    color: rgb(180, 130, 124);
    padding: 5px;
    border-radius: 1px;
    box-shadow: 0 0 10px rgba(206, 197, 197, 0.5);
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.card-text{
    font-size:1.5rem;
}

.texto-pequeno .card-text,
.texto-pequeno .card-title {
    font-size: 1rem;
}

.texto-mediano .card-text,
.texto-mediano .card-title {
    font-size: 1.5rem;
}

.texto-grande .card-text,
.texto-grande .card-title {
    font-size: 2rem;
}

.texto-pequeno .card img {
    max-width: 80%;
    height: auto;
}

.texto-mediano .card img {
    max-width: 100%;
    height: auto;
}

.texto-grande .card img {
    max-width: 108%;
    height: auto;
}

#calendar {
    height: auto;
    width: 100%;
    max-height: 600px; /* Ajusta el tamaño según el modal */
    overflow-y: auto;
}


