html, body {
  height: 100% !important;
  margin: 0;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Oculta cualquier contenido que desborde horizontalmente */
}


header, .navbar {
  max-width: 100% !important; /* Asegura que no exceda el ancho del viewport */
  overflow-x: hidden !important; /* Oculta cualquier contenido que pueda desbordarse */
}

.navbar-nav {
  flex-wrap: wrap; /* Permite que los elementos se envuelvan si son demasiados */
}

.navbar-nav li:first-child {
  margin-left: 30px !important; /* Ajusta el valor según sea necesario */
}


.nav-item {
  max-width: 100%; /* Evita que desborde individualmente */
}

.container-fluid {
  padding: 0 !important;
  width: 100% !important;
  max-width: 100% !important;
}



/* Contenedor principal del contenido */
.container-fluid {
  flex: 1;
}

h1 {
  font-weight: bold;
  color: #333;
}

.titulo{
  font-size:4vw;
  padding: 0 !important;
}

.header{
  background: rgb(197, 197, 197);
}

.img-header{
  max-width: 55% !important; 
}

#footer-pie {
  width: 100%;
  background: #454545;
  padding: 1em 0.2em 1em 0.2em;
  text-align: center;
}

.img-footer {
  max-width: 75% !important;
  min-width: 85px !important;
  min-height: 85px !important;
}

#footer-text{
  font-size: 85%;
}

.redes{
  list-style-type: none;
}

.redes li {
  margin-bottom: 4px;
}

.redes li:last-child {
  margin-bottom: 0;
}

.redes img{
  width: 10% !important;
  height: auto;
  min-width: 40px;
  min-height: 40px;
}

.navbar-nav .btn {
  background-color: #8a97a5;
  color: white;
  border-radius: 5px;
  padding: 10px 15px;
  max-height: 46px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.navbar-nav .btn:hover {
  background-color: #31363b;
  transform: scale(1.05);
  color: white;
}


.navbar-nav {
  justify-content: center;

}

.nav-item {
  margin: 0 10px;
}

#btnClose{
  background-color: #99474b;
  color: white;
  border-radius: 5px;
  padding: 10px 15px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

#btnClose:hover{
  background-color: #992a2f;
  color: white;
  border-radius: 5px;
  padding: 10px 15px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.extra-margin-bottom {
  margin-bottom: 200px; /* Ajusta el valor según tus necesidades */
}


/* Paleta de colores */
.alto-contraste {
  background-color: #000;
  color: #fff;
}

.daltonismo {
  background-color: #f0f0f0;
  color: #333;
}

/* Tamaño de texto */
.texto-pequeno {
  font-size: 12px;
}

.texto-mediano {
  font-size: 16px;
}

.texto-grande {
  font-size: 20px;
}

