
<div id="toastContainer" class="toast-container position-fixed top-0 end-0 p-3"></div>

<footer class="mt-4 bg-dark align-items-center justify-content-center text-light footer" id="footer-pie">  
    <div class="container-fluid">  
        <div class="row">
            <div class="col col-lg-3 col-md-3 col-sm-3 col-3 d-flex align-items-center justify-content-center text-center">
                <p>  <img src="/images/Organizacion.png" alt="Icono organización" class="img-fluid img-footer"> </p>
            </div>
            <div class="col col-lg-5 col-md-5 col-sm-5 col-5 d-flex flex-column align-items-center justify-content-center text-center" id="footer-text">
                <p class="derechos">© 2025 Portal de Gestión de Eventos Universitarios</p>
                <p class="derechos"> All rights reserved</p>
            </div>
            <div class="col col-lg-4 col-md-4 col-sm-4 col-4 text-center align-self-center">
                <ul class="redes" >               
                    <li >
                        <a href="https://www.facebook.com/UniComplutense" target="_blank">
                            <img alt="facebook" src="/images/RRDD/facebook.png">
                        </a>                      
                    </li>
                    <li>
                        <a href="https://www.instagram.com/uni.complutense/" target="_blank">
                            <img alt="Instagram" src="/images/RRDD/instagram.png">
                        </a>   
                    </li>
                    <li>
                        <a href="https://twitter.com/unicomplutense" target="_blank">
                            <img alt="Twitter/X" src="/images/RRDD/twitter.png">

                        </a>   
                    </li>
                    <li>
                        <a href="https://www.youtube.com/ucomplutensemadrid" target="_blank">
                            <img alt="youtube" src="/images/RRDD/youtube.png">

                        </a>   
                    </li>                 
                </ul>
            </div>  
        </div>
    </div>
</footer>